@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Please check your email. You should receive a mail with a link to confirm your account.
    </p>
</div>
