@model HTLLBB.Models.ForumsViewModels.IndexViewModel

@{
    ViewData["Title"] = "Forums";
}

<div class="w3-container w3-grey">
    <h2>@ViewData["Title"]</h2>
</div>

<hr />

@foreach (var category in Model.Categories) {
    <div class="w3-border w3-margin w3-dark-grey">
        <div class="w3-blue-grey w3-bar">
            <a class="w3-bar-item">@category.Name</a>
            @if (Model.IsAdmin) {
                <span class="w3-button w3-right">Add Forum</span>
            }
        </div>

        @foreach (var forum in category.Forums) {
            <p>forum.Name</p>
        }

    </div>
}

@if (Model.IsAdmin) {
    <div class="w3-center">
        <button class="w3-button w3-circle w3-blue">+</button>
    </div>
}
