@model HTLLBB.Models.Post

<div class="w3-grey w3-bar w3-xxlarge">
    <a class="w3-bar-item" asp-controller="Category">Forums</a>
    <span class="w3-bar-item">/</span>
    <a class="w3-bar-item" asp-controller="Forum" asp-action="Index" asp-route-name="@Model.Thread.Forum.Name">@Model.Thread.Forum.Name</a>
    <span class="w3-bar-item">/</span>
    <a class="w3-bar-item" asp-action="Index" asp-route-title="@Model.Thread.Title">@Model.Thread.Title</a>
</div>

<hr />

<h2>Edit</h2>

<div class="row">
    <form asp-action="Edit" class="w3-container">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Content"></label>
            <textarea asp-for="Content" class="w3-input" autofocus="autofocus" rows=12></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
