@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="w3-grey w3-container w3-card-4">
@if (SignInManager.IsSignedIn(User))
{
    <div id="DisplayMessages" style="height: 30em; overflow-y: scroll;" class="w3-dark-grey w3-margin-top">

    </div>

    <form class="w3-row w3-margin w3-center" onsubmit="return SendMessage();">
        <div class="w3-threequarter">
            <input type="text" id="txtMessage" class="w3-input" autofocus=autofocus autocomplete="off" />
        </div>
        <div class="w3-quarter">
            <input type="button" class="w3-btn" value="Submit" />
        </div>
    </form>
} else {
    <h2>Landing page</h2>
    <p>Please register or login to access the chat and/or forums</p>
}
</div>

@section Scripts {
@if (SignInManager.IsSignedIn(User))
{
    <script>
        let connection = new signalR.HubConnection('/chat');

        connection.on('send', (name, message) => {
            $('#DisplayMessages')
                .append("<div class='w3-row-padding'><p><b>" + name + "</b>: " + $('<div />').text(message).html() + "</p></div>")
                .scrollTop($('#DisplayMessages').prop('scrollHeight'));
        });

        connection.start();//.then(() => connection.invoke('send', 'Hello'));
        function SendMessage(){
            var msg = document.getElementById("txtMessage");
            connection.invoke('send', msg.value);
            msg.value = "";
            return false;
        }
    </script>     
}
}