@{
    ViewData["Title"] = "About us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>We are a small, tight-nit community of like minded people focused on computer security and technology.</p>
