@{
    ViewData["Title"] = "About us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Our main focus is primarily education on software and hardware support, as well as all forms of security..</p>
