@model HTLLBB.Models.ThreadViewModels.CreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Thread</h4>
<hr />
<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="ForumID">
            
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" autofocus="autofocus" />
            <span asp-validation-for="Title" class="text-danger"></span>

            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="Content" class="w3-input" rows=12></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
