@model HTLLBB.Models.Thread

<div class="w3-grey w3-bar w3-xxlarge">
    <a class="w3-bar-item" asp-controller="Category">Forums</a>
    <span class="w3-bar-item">/</span>
    <a class="w3-bar-item" asp-controller="Forum" asp-action="Index" asp-route-name="@Model.Forum.Name">@Model.Forum.Name</a>
    <span class="w3-bar-item">/</span>
    <a class="w3-bar-item" asp-action="Index" asp-route-title="@Model.Title">@Model.Title</a>
</div>

<hr />

<h2>Edit</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" autofocus="autofocus" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
