@model HTLLBB.Models.ThreadViewModels.SearchViewModel

<div class="w3-grey w3-bar w3-xxlarge">
    <a class="w3-bar-item" asp-controller="Category">Search results</a>
</div>

<hr />

@foreach (var thread in Model.Threads) {
    <div class="w3-border w3-margin w3-grey">
        <div class="w3-blue-grey w3-bar">
            <div class="w3-bar-item w3-xlarge">
                <i class="glyphicon glyphicon-comment" style="vertical-align: middle;"></i>
            </div>
            <div class="w3-bar-item">
                <a style="font-weight: bold;" asp-controller="Thread" asp-action="Index" asp-route-title="@thread.Title">@thread.Title</a><br />
                <span class="w3-tiny" style="font-style: italic;">By @thread.Author, </span>
                <span class="w3-tiny" style="font-style: italic; font-weight: bold;">@thread.CreationTime</span>
            </div>
        </div>
    </div>
}