@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="w3-grey w3-container w3-card-4">
@if (SignInManager.IsSignedIn(User))
{
    <div id="DisplayMessages" style="height: 30em; overflow-y: scroll;" class="w3-dark-grey w3-margin-top">

    </div>

    <form class="w3-row w3-margin w3-center" onsubmit="return SendMessage();">
        <p class="w3-threequarter">
            <input type="text" id="txtMessage" class="w3-input" autofocus=autofocus autocomplete="off" />
        </p>
        <p class="w3-quarter">
            <input type="button" class="w3-btn" value="Submit" />
        </p>
    </form>
} else {
    <h2>Landing page</h2>
    <p>Please register or login to access the chat and/or forums</p>

    <img src="~/images/landing.png" class="w3-image" />

    <br /><br />
}
</div>

@section Scripts {
@if (SignInManager.IsSignedIn(User))
{
    <script>
        let connection = new signalR.HubConnection('/chat');
        let path = `@Url.Content("~/")`;

        connection.on('send', (name, avatar, message) => {
            let usr = `<b>${name}</b>`;
            let txt = $('<div />').text(message).html();
            let img = `<img src="${path}${avatar}" class="w3-circle w3-bar-item" style="width: 55px"></img>`;
            let div = `<div class="w3-bar">${img}<span class="w3-bar-item" style="padding-left: 0px;">${usr}: ${txt}</span></div>`;
            $('#DisplayMessages')
                .append(div)
                .scrollTop($('#DisplayMessages').prop('scrollHeight'));
        });

        connection.start()
            .then(() => connection.invoke('RetrieveMessages'));
            
        function SendMessage(){
            var msg = document.getElementById("txtMessage");
            connection.invoke('send', msg.value);
            msg.value = "";
            return false;
        }
    </script>     
}
}