@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="w3-grey w3-container w3-card-4">
@if (SignInManager.IsSignedIn(User))
{
    <div id="DisplayMessages" style="height: 34em; overflow-y: scroll; text-align: justify" class="w3-dark-grey w3-margin-top">

    </div>

    <form class="w3-row w3-margin w3-center" onsubmit="return SendMessage();">
        <p class="w3-threequarter">
            <input type="text" id="txtMessage" class="w3-input" autofocus=autofocus autocomplete="off" />
        </p>
        <p class="w3-quarter">
            <input type="submit" class="w3-btn" value="Submit" />
        </p>
    </form>
} else {
    <h2>Landing page</h2>
    <p>Please register or login to access the chat and/or forums</p>

    <img src="~/images/landing.png" class="w3-image" />

    <br /><br />
}
</div>
<div id="path" style="display: none;">@Url.Content("~/")</div>

@section Scripts {
@if (SignInManager.IsSignedIn(User))
{
    <script src="~/js/chatbox.js"></script>     
}
}